<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top w-100">
      <nav class="navbar navbar-dark bg-dark w-100 d-flex shadow">
        <div>
          <%= image_tag "logo.png", class:'img-fluid logo'%>
        </div>
        <div>
          <h1 class="text-white"> Rumor Mill</h1>
        </div>
        <div class="btn-group-lg">
          <%if user_signed_in?%>
            <%= link_to current_user.name, edit_user_registration_path, class: 'btn btn-info' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-warning border" %>
          <%else%>
            <%= link_to 'Login', new_user_session_path, class: "btn text-white border" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "btn text-white border" %>
          <%end%>
        </div>
      </nav>
    </header>
    <main class= 'main container'>
      <% if flash[:notice]%>
        <div class="alert alert-info bg-light text-center">
          <strong><%= notice%></strong>
        </div>
      <%end%>
      <% if flash[:alert]%>
        <div class="alert alert-warning text-center text-white bg-danger border">
          <strong class="h5"><%= alert.html_safe%></strong>
        </div>
      <%end%>
      <%= yield %>
    </main>
  </body>
</html>
